*.txt
!requirements.txt
!LICENSE.txt
*.epub
*.pyc
*.p
*.mid
extracted_features.p
extra_analysis.py
sentiment.py
test.py
.DS_Store
.idea
git_push.sh
music_generation_module/music/*
music_generation_module/output/*
music_generation_module/results/*
download_music/music/*
