celery==4.2.1
ebooklib==0.17.1
matplotlib==2.2.4
Theano==1.0.0
theano-lstm==0.0.15
numpy==1.9.1
seaborn==0.8.0
scipy==0.14
scikit-learn==0.20.3
sphinx>=0.5.1
pandas==0.22.0
pretty_midi==0.2.8
python-midi==0.2.4
multiprocessing
music21==4.1.0
bs4==0.0.1
nltk==3.4
textblob==0.15.3
textstat==0.5.0
unittest2==1.1.0
