matplotlib
Theano==1.0.0
theano-lstm==0.0.15
numpy==1.9.1
seaborn==0.8.0
scipy==0.14
scikit-learn
sphinx>=0.5.1
pandas==0.22.0
pretty_midi
python-midi
multiprocessing
music21==4.1.0
ebooklib
bs4
nltk
textblob
textstat==0.5.0
unittest2
